[project]
	description = EasyManage helps you to provide safe and convenient company solution. 
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/anupam002
[access "refs/for/refs/*"]
	read = group user/anupam002
	push = group user/anupam002
	label-Code-Review = -2..+2 group user/anupam002
	label-Verified = -1..+1 group user/anupam002
	rebase = group user/anupam002
	removeReviewer = group user/anupam002
	submit = group user/anupam002
[access "refs/heads/*"]
	read = group user/anupam002
	create = group user/anupam002
	push = +force group user/anupam002
	pushMerge = group user/anupam002
[access "refs/tags/*"]
	push = +force group user/anupam002
	pushTag = group user/anupam002
	pushSignedTag = group user/anupam002
